*,
&::before,
&::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    min-height: 100svh;
    display: grid;
    place-items: center;
}

.form-container {
    background: white;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
}

button {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.form-felid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1.125rem;

    .form-msg {
        font-weight: 500;
    }

    &.error-msg {
        input {
            border-color: red;
            outline-color: red;
        }

        .form-msg {
            color: red;
        }
    }

    &.success-msg {
        input {
            outline-color: green;
            border-color: green;
        }

        .form-msg {
            color: green;
        }
    }
}
